@model EvaluationTracker.Models.Evaluation_Feedbacks

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Evaluation_Feedbacks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Screening_Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Screening_Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Feedback)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Feedback)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Candidate_Details.Candidate_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Candidate_Details.Candidate_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interviewer_Details.Interviewer_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interviewer_Details.Interviewer_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Eval_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
